.asenha .csf-header-inner h1 small {
    font-size: 13px;
}

.asenha .csf-header-left {
    display: flex;
    align-items: center;
}

.asenha .csf-header a {
    text-decoration: none;
    transition: .25s;
}

.asenha .csf-header a:hover {
    text-decoration: underline;
}

.asenha .header-action {
    position: relative;
    top: 1px;
    line-height: 30px;
    margin-left: 16px;
}

/* CodeStar Framework */

.csf-nav ul li a {
    font-size: 14px;
}

.csf-theme-light .csf-nav ul li a {
    font-weight: 600;
}

.csf-theme-light .csf-nav ul ul li a {
    font-weight: 500;
}

.csf-field,
.csf-field.csf-field-switcher .csf-fieldset {
    display: flex;
}

.csf-field .csf-title,
.csf-field .csf-fieldset,
.csf-field-switcher .csf--switcher,
.csf-field-switcher .csf--label {
    float: none;
}

.csf-field.csf-field-switcher,
.csf-field.csf-field-switcher .csf-fieldset {
    align-items: center;
}

.csf-field.csf-field-switcher .csf-title h4 {
    margin-right: 8px;
}

.csf-field-switcher .csf--switcher {
    margin-right: 4px;
}

.csf-field-switcher .csf--label {
    margin-top: 0;
    width: calc(100% - 60px);
}

.csf-form-warning {
    position: absolute;
    bottom: 4px;
    right: 23px;
    line-height: 18px;
}