.wpenha .csf-header-inner h1 small {
    font-size: 13px;
}

.wpenha .csf-header-left {
    display: flex;
    align-items: center;
}

.wpenha .csf-header a {
    text-decoration: none;
    transition: .25s;
}

.wpenha .csf-header a:hover {
    text-decoration: underline;
}

.wpenha .header-action {
    position: relative;
    top: 1px;
    line-height: 30px;
    margin-left: 16px;
}
