.asenha-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 24px;
    padding: 28px 20px;
    background-color: #fafafa;
    border: 1px solid #ccd0d4;
    transition: .25s;
}

.asenha-header.asenha-sticky {
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.asenha-header-left {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.asenha-header-right {
    position: relative;
    display: flex;
    justify-content: flex-end;
    min-width: 240px;
}

.asenha-header .notice {
    display: none;
}

.asenha-body {
    background-color: #fff;
    border-right: 1px solid #ccd0d4;
    border-bottom: 1px solid #ccd0d4;
    border-left: 1px solid #ccd0d4;
}

.asenha .form-table {
    margin-top: 0;
}

.asenha-footer {
    /* display: flex; */
    display: none;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    background-color: #fafafa;
    border-right: 1px solid #ccd0d4;
    border-bottom: 1px solid #ccd0d4;
    border-left: 1px solid #ccd0d4;
}

.wrap h1.asenha-heading {
    font-size: 1.5em;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.asenha-heading a {
    text-decoration: none;
    transition: .25s;
}

.asenha-heading a:hover {
    text-decoration: underline;
}

.asenha-heading small {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.asenha-header-action {
    position: relative;
    top: 1px;
    margin-left: 16px;
    text-decoration: none;
    transition: .25s;
    line-height: 30px;
}

.asenha-header-action:first-child {
    margin-left: 0;
}

.asenha-header-action:hover {
    text-decoration: underline;
}

.asenha-changes-saved {
    position: absolute;
    right: 0;
    top: 33px;
    background: seagreen;
    color: #fff;
    padding: 2px 8px;
    border-radius: 3px;
}

.asenha-toggle {
    border-bottom: 1px solid #eee;
}

.form-table .asenha-toggle th:not(.datatable-th) {
    padding: 20px 10px 16px 20px;
    line-height: 1.4;
}

.form-table .asenha-toggle td:not(.datatable-td) {
    padding: 18px 20px 16px 10px;
    line-height: 1.4;
}

.asenha-toggle:last-child {
    border-bottom: 0;
}

.asenha-field-description {
    position: relative;
    top: 1px;
    color: #3c434a;
}

.asenha-field-with-options {
    width: 100%;
}

/* WP Core UI overrides */

.wp-core-ui.tools_page_admin-site-enhancements .notice {
    margin: 20px 20px 0 2px;
}

.asenha .submit {
    position: absolute;
}

.asenha .submit input {
    display: none;
}

/* Toggle Styles -- https://codepen.io/deanelliott/pen/GRJjGqK */

.form-table .asenha-toggle td:not(.datatable-td) {
    display: flex;
    align-items: flex-start;
}

.form-table .asenha-toggle .asenha-radio-buttons > td:not(.datatable-td) {
    align-items: center;
}

:root {
  --toggleHeight: 22px;
  --toggleWidth: 40px;
  --toggleGap: 2px;
}

.asenha-field-checkbox {
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
  position: absolute;
}

.asenha-field-checkbox + label {
  position: relative;
  background: #c0c0c0;
  width: var(--toggleWidth);
  min-width: var(--toggleWidth);
  height: var(--toggleHeight);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  text-indent: calc( var(--toggleWidth) + 10px);
}
.asenha-field-checkbox + label:after {
  content: "";
  background: #fff;
  width: calc(var(--toggleHeight) - (var(--toggleGap) * 2));
  height: calc(var(--toggleHeight) - (var(--toggleGap) * 2));
  position: absolute;
  top: var(--toggleGap);
  left: var(--toggleGap);
  border-radius: 50%;
  transition: left 0.3s ease-in-out, background 0.2s ease-in-out;
}

.asenha-field-checkbox:checked + label {
  background: seaGreen;
}
.asenha-field-checkbox:checked + label:after {
  left: calc(100% - calc(var(--toggleHeight) - var(--toggleGap)));
}

/* Vertical Tabs */

.asenha-vertical-tabs {
    padding: 0px;
    margin: 0 auto;
    display: flex;
}

.asenha-tab-buttons {
    background: #f5f5f5;
}

.asenha-tab-buttons > input { 
    display: none;
}

.asenha-tab-buttons > label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #999;
    width: 180px;
    padding: 20px;
    background: #f5f5f5;
    cursor: pointer;
    transition: .25s;
}

.asenha-tab-buttons > label:hover {
    color: #444;
    background: #f9f9f9;
}

.asenha-tab-buttons > input:checked + label {
    color: #1d2327;
    background: #ffffff; 
}

.asenha-tab-contents > section {
    display: none;
    background: #ffffff;
}

/* Show all / less toggler | Modified from https://codepen.io/symonsays/pen/rzgEgY */

.asenha-field-with-options.field-show-more.is-enabled {
    display: block;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.asenha-field-with-options.field-show-more.is-enabled .asenha-field-options-wrapper.wrapper-show-more {
    height: 80px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.asenha-field-with-options.field-show-more.is-enabled .opened.asenha-field-options-wrapper.wrapper-show-more {
    height: auto;
    overflow:visible;
}

.asenha-field-with-options.field-show-more.is-enabled .opened.asenha-field-options-wrapper.wrapper-show-more:before {
    /* bottom: -80px; */
    display: none;
}

.show-more-less {
    display: none;
}

.is-enabled .show-more-less {
    display: block;
    background: none;
    text-decoration: none;
    border: 0;
    position: absolute;
    left: 0;
    bottom: -12px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    z-index: 3;
    transition: .25s;
}

.is-enabled .show-more-less:active,
.is-enabled .show-more-less:hover,
.is-enabled .show-more-less:focus {
    outline: none;
    box-shadow: none;
}

.is-enabled .show-more-less.show-more,
.is-enabled .show-more-less:not(.show-more):hover {
    color: #2271b1;
}

.is-enabled .show-more-less:not(.show-more) {
    color: #ddd;
}

.asenha-field-with-options.field-show-more.is-enabled .asenha-field-options-wrapper.wrapper-show-more:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,1) 100%);
}

/* Sub Fields */

.form-table .asenha-subfields {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.form-table .asenha-subfields tr:not(.datatable-tr) {
    display: block;
    width: 100%;
}

.form-table .asenha-subfields tr.asenha-half {
    width: 50%;
}

.form-table .asenha-toggle .asenha-field-with-options th:not(.datatable-th) {
    padding: 0 0 10px 0;
}

.form-table .asenha-subfields tr.asenha-hide-th th:not(.datatable-th) {
    display: none;
}

.form-table .asenha-subfields tr.asenha-th-border-top {
    padding-top: 12px;
    border-top: 1px solid #eee;
}

.form-table .asenha-subfields th {
    width: 100%
}

.form-table .asenha-subfields td:not(.datatable-td) {
    padding: 0;
}

.form-table .asenha-subfields td:not(.datatable-td) label {
    position: relative;
    top: -2px;
}

.form-table .asenha-subfields .asenha-radio-buttons td:not(.datatable-td) label {
    margin-right: 12px;
}

.asenha-subfields .vspacer {
    display: block;
    width: 100%;
    height: 8px;
}

.field-sublabel {
    display: inline-block;
}

.sublabel-wide {
    min-width: 180px;
}

/* Text input subfield */

.form-table .change-login-url .asenha-subfields,
.form-table .redirect-after-login .asenha-subfields {
    margin-top: 8px;
}

.form-table .asenha-subfields tr.asenha-text.with-prefix-suffix,
.form-table .asenha-subfields tr.asenha-number.with-prefix-suffix {
    display: flex;
    justify-content: flex-start;
}

.form-table .asenha-subfields tr.asenha-radio-buttons.with-prefix-suffix {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.form-table .asenha-toggle .asenha-text.with-prefix-suffix th:not(.datatable-th),
.form-table .asenha-toggle .asenha-number.with-prefix-suffix th:not(.datatable-th),
.form-table .asenha-toggle .asenha-radio-buttons.with-prefix-suffix th:not(.datatable-th) {
    display: flex;
    height: 30px;
    line-height: 30px;
    width: auto;
    padding: 0;
    margin-right: 6px;
    font-weight: normal;
    color: #3c434a;
}

.form-table .asenha-toggle .asenha-text.with-prefix-suffix.no-margin th:not(.datatable-th),
.form-table .asenha-toggle .asenha-number.with-prefix-suffix.no-margin th:not(.datatable-th),
.form-table .asenha-toggle .asenha-radio-buttons.with-prefix-suffix.no-margin th:not(.datatable-th) {
    margin-right: 0;
}

.form-table .asenha-toggle .asenha-text.with-prefix-suffix td:not(.datatable-td),
.form-table .asenha-toggle .asenha-number.with-prefix-suffix td:not(.datatable-td),
.form-table .asenha-toggle .asenha-radio-buttons.with-prefix-suffix td:not(.datatable-td) {
    display: flex;
    align-items: center;
}

.form-table .custom-login-slug td:not(.datatable-td),
.form-table .smtp-security td:not(.datatable-td) {
    margin-bottom: 0;
}

.form-table .smtp-security td:not(.datatable-td) {
    position: relative;
    top: 2px;
}

/* Text area input subfield */

.asenha-subfield-textarea-wrapper,
.asenha-subfield-number-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.asenha-subfield-textarea {
    width: 100%;
}

.asenha-subfield-textarea-intro {
    margin-bottom: 8px;
}

.asenha-subfield-textarea-description {
    margin-top: 8px;
}

.asenha-subfield-text.with-prefix.with-suffix,
.asenha-subfield-password.with-prefix.with-suffix,
.asenha-subfield-number.with-prefix.with-suffix,
.asenha-subfield-select.with-prefix.with-suffix {
    margin: 0 4px;
}

.asenha-subfield-text.with-prefix,
.asenha-subfield-password.with-prefix,
.asenha-subfield-number.with-prefix,
.asenha-subfield-select.with-prefix {
    margin: 0 0 0 4px;
}

.asenha-subfield-text.with-suffix,
.asenha-subfield-password.with-suffix,
.asenha-subfield-number.with-suffix,
.asenha-subfield-select.with-suffix {
    margin: 0 4px 0 0;
}

.wide .asenha-subfield-text,
.wide .asenha-subfield-password {
    width: 240px;
}

.narrow .asenha-subfield-text {
    width: 40px;
}

.narrow .asenha-subfield-number {
    width: 72px;
}

.extra-narrow .asenha-subfield-number {
    width: 54px;
}

.form-table .asenha-subfields tr:not(.datatable-tr).shift-up {
    margin-top: -4px;
}

.form-table .asenha-subfields tr:not(.datatable-tr).top-border {
    border-top: 1px solid #eee;
    padding-top: 8px;
}

.asenha-subfields .faded,
.form-table .asenha-subfields td:not(.datatable-td) label .faded {
    color: #bbb;
}

/* Sortable subfield */

.form-table .asenha-toggle .asenha-sortable td:not(.datatable-td) {
    flex-wrap: wrap;
    flex-direction: column;
}

.subfield-description,
.asenha-subfield-number-description {
    margin-top: 8px;
    margin-bottom: 8px;
}

.custom-menu-order ul.menu {
    margin-top: 0;
    padding-top: 0;
    overflow: auto;
}

.custom-menu-order .menu-item-bar .menu-item-handle {
    padding: 7px 15px;
    max-width: 320px;
    width: 320px;
    min-height: 30px;
}

.custom-menu-order .menu-item-handle .menu-item-checkbox {
    display: inline-block;
}

.custom-menu-order .menu-item-handle .item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    line-height: 30px;
}

.custom-menu-order .menu-item-handle .item-title .menu-item-title a {
    color: #666;
    text-decoration: none;
    margin-left: 6px;
}

.custom-menu-order .menu-item-handle .item-title .menu-item-title a:hover {
    color: inherit;
}

.menu-item-title input[type="text"] {
    border: 1px solid #dcdcde;
    margin-left: -9px;
    font-size: 13px;
}

.menu-item-title input[type="text"]:focus {
    border: 1px solid #999;
    box-shadow: none;
    outline: none;
}

.menu-item-checkbox-label span {
    font-weight: normal;
}

.custom-menu-order .menu-item-title span,
.custom-menu-order .menu-item-settings .submenu-item span {
    /* display: none; */
}

/* .custom-menu-order .menu-item-title span.awaiting-mod,
.custom-menu-order .menu-item-title span.update-plugins {
    display: none;
} */

#separator1 .menu-item-title,
#separator2 .menu-item-title,
#separator-last .menu-item-title {
    font-weight: normal;
    color: #999;
}

.sortable-placeholder {
    width: 350px;
    max-width: 350px;
    height: 46px;
    min-height: 42px;
    max-height: 42px;
    border: 1px dotted #ccc;
}

.form-table .asenha-subfields td:not(.datatable-td) label.menu-item-checkbox-label {
    top: 0;
}

/* CodeMirror*/

.syntax-highlighted .asenha-subfield-textarea {
    background: #fcfcfc;
}

.syntax-highlighted .CodeMirror {
    border: 1px solid #ddd;
    background: #fcfcfc;
}

/* DataTable */

.form-table .asenha-toggle .datatable > td {
    flex-direction: column;
}

.form-table td.dataTables_empty {
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding: 8px 10px !important;
    background-color: #fff;
}

.datatable .dataTables_wrapper {
    background: #f5f5f5;
    margin-top: 8px;
    padding: 12px 10px;
}

.datatable .dataTables_wrapper .dataTables_length select,
.datatable .dataTables_wrapper .dataTables_filter input {
    background-color: #fff;
}

.datatable .dataTables_wrapper .dataTables_length select {
    min-width: 52px;
}

.datatable table.dataTable thead th {
    font-weight: 500 ;
}