/* Hide media replace field on media frame of media library grid view and add media screen */
.upload-php .attachment-compat,
.media-types.media-types-required-info {
	display: none;
}

.wp-core-ui .button-secondary.asenha-media-replace-button {
	margin-top: 8px;
}

.asenha-media-replace-notes {
	margin-top: 8px;
}