/* Content Management >> Media Replace >> Hide media replacement section on media dialog/frame */
.media-sidebar .compat-item .compat-field-asenha-media-replace {
	display: none;
}

/* Admin Interface >> Admin Menu Organizer */
.always-hidden {
	display: none !important;
}

/* Utilities >> Enable Login Logout */
.accordion-section #login-logout-links-checklist.categorychecklist {
	margin: -13px 0 13px 0;
}

/* Content Management >> Enable External Permalink */
/* Custom Code >> Custom Body Class */
.external-permalink-input,
.custom-body-class-input {
	padding: 8px 0 0;
}

.external-permalink-input-description,
.custom-body-class-input-description {
	margin-top: 4px;
}

/* Utilities >> Multiple User Roles */
#adduser .form-field input[type="checkbox"], #createuser .form-field input[type="checkbox"] {
	width: 1rem;
}